.ace_editor { height: 100px; }

.streamparagraph{
    margin: 10px;
}

.gridster * {
    margin:0;
    padding:0;
}

ul {
    list-style-type: none;
}

.gridster ul {
    background-color: #EFEFEF;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}




#code-container {
    box-shadow: 5px 5px 2px #888888;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#workflow-area {
    box-shadow: 5px 5px 2px #888888;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px ;
    min-height: 500px;
}


#toolbar-div{
    box-shadow: 5px 5px 2px  #888888;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px ;
    min-height: 500px;

}

#centeredmenu {
    float:left;
    width:100%;
    height:100%;
    background:#fff;
  /*  border-bottom:4px solid #000;*/
    overflow:hidden;
    position:relative;
}

#centeredmenu ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}
#centeredmenu ul li {
    display:block;
    float:left;
    list-style:none;
    margin:2px;
    padding:1px;
    position:relative;
    right:50%;
    border:solid 1px #000;
    box-shadow: 2px 3px #888888; /* box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit; */
    height: 75px;
    width: 75px;
}
#centeredmenu ul li a {
    display:block;
    margin:0 0 0 1px;
    padding:3px 10px;
    background:#ddd;
    color:#000;
    text-decoration:none;
    line-height:1.3em;
}
#centeredmenu ul li a:hover {
    background:#369;
    color:#fff;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
}
#thumbnaildiv{
    width:100px;
    height:50px;
    border: solid #000000;
}